<%
const conf = {
    title : 'Easing image',
    description : 'This is top page',
    style: 'index.css',
    script: 'bouncingText.js',
    metaImage: 'https://dummyimage.com/600x400/333/ddd.png&text=Dummy+image'
};
%>

<%- include('./common/_head.ejs', { conf }) %>

<main id="main" class="Main" style="font-size: 100vmin;">

<!--
    <section class="form">
        <form>
            <label>
                実行時間
            </label>
        </form>
    </section>
-->
</main>

<%- include('./common/_foot.ejs', { conf }) %>
