<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index.js'
};
%>

<% include _head.ejs %>
<% include ../components/header/header.ejs %>

<main id="main" class="main" role="main">
    <div class="panel-1">1</div>
    <div class="panel-2">2</div>
    <div class="panel-3">3</div>
    <div class="panel-4">4</div>
    <div class="panel-5">5</div>
</main>

<% include ../components/footer/footer.ejs %>
<% include _foot.ejs %>
