@import "_global.css";
@import "../components/header/header.css";
@import "../components/footer/footer.css";

body {
    width: 100vw;
    height: 100vh;
}

.main {
    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    grid-template-rows: 150px 1fr 300px;
    width: 100%;
    height: 100%;
    justify-items: stretch;
    align-items: stretch;
    grid-gap: 20px 10px;    /* not enable on ie/edge */
}

.main > div {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
        background: #f8fa;
        grid-column: 1;
        @mixin grid-row 1, 3;
    }

    &:nth-child(2) {
        background: #8f82;
        grid-row: 1;
        @mixin grid-column 2, 4;
    }

    &:nth-child(3) {
        background: #88f;
        grid-column: 2;
        grid-row: 2;
    }

    &:nth-child(4) {
        background: #ff88887d;
        grid-column: 3;
        @mixin grid-row 2, 4;
    }

    &:nth-child(5) {
        background: #f0f8;
        grid-row: 3;
        @mixin grid-column 1, 3;
    }
}
