@import "./common/_global.css";

body {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.Image {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
